body {
    background: rgb(31, 25, 83);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; 
    padding: 0;
    font-size: 12px;
}

input {
    padding: 9px;
    height: 20px;
    width: 100%;
    border: 1px solid #f1f3f5;
    margin-top: 10px;
    border-width: thin;
}

input:focus {
    outline-color: darkblue;
}

.app {
    display: flex;
  }

  .content {
    width: 80%;
  }
  
  .navMenu {
    background-color: #F2F4FE;
    border-left: 1px solid gainsboro;
    height: 100vh;
    width: 20%;
  }

.userBox {
    border-bottom: 1px solid gainsboro;
    height: 30px;
    width: 100%;
}

.form {
    margin-left: 39%;
    margin-top: 7%;
    width: 20%;
}

.registerBox,
.loginBox {
    background-color: white;
    text-align: center;
    margin: 0;
}

.thread {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    margin-left: 1%;
    margin-right: 0.5%;
}

.post {
    background-color: #EAF0FF;
    display: inline-block;
    margin-bottom: 5px;
    min-width: 15%;
}

    .post:hover {
        background-color: aliceblue;
        cursor: auto;
    }

button {
    background-color: transparent;
    border: 1px solid transparent;
    height: 100%;
}

    button:hover {
        background-color: #F3F9FF;
        border: 1px solid #ECECF0;
        cursor: pointer;
    }
    