body {
    background: ghostwhite;
    font-size: 18px;
    margin: 0; 
    padding: 0;
}

label {
    height: 20px;
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    margin-right: 7px;
    float: left;
}

input {
    height: 20px;
    width: 250px;
    border: 1px solid gainsboro;
    margin-top: 10px;
}

input:focus {
    outline-color: #E7E8EC;
}

.app {
    display: flex;
  }

  .content {
    width: 80%;
  }
  
  .navMenu {
    background-color: #F2F4FE;
    border-left: 1px solid gainsboro;
    height: 100vh;
    width: 20%;
  }

.userBox {
    border-bottom: 1px solid gainsboro;
    height: 30px;
    width: 100%;
}

.registerBox,
.loginBox {
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    width: fit-content; 
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thread {
    border-bottom: 1px solid gainsboro;
    margin-bottom: 15px;
    margin-left: 1%;
    margin-right: 0.5%;
}

.post {
    background-color: #EAF0FF;
    display: inline-block;
    margin-bottom: 5px;
    min-width: 15%;
}

    .post:hover {
        background-color: aliceblue;
        cursor: auto;
    }

button {
    background-color: transparent;
    border: 1px solid transparent;
    height: 100%;
}

    button:hover {
        background-color: #F3F9FF;
        border: 1px solid #ECECF0;
        cursor: pointer;
    }
    