source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0

nuget Fable.Browser.Dom
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.React
nuget Fable.Fetch
nuget Fable.React
nuget linq2db
nuget Microsoft.AspNetCore.SpaServices.Extensions
nuget Newtonsoft.Json
nuget Npgsql
nuget Serilog.AspNetCore
nuget Serilog.Enrichers.Thread
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.Console
nuget Serilog.Sinks.File
nuget Thoth.Json