source https://api.nuget.org/v3/index.json

storage: none
framework: net5.0, netstandard2.0, netstandard2.1

nuget Fable.Browser.Dom
nuget Fable.Core
nuget Fable.Elmish
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Fable.Elmish.React
nuget Fable.React
nuget linq2db
nuget Microsoft.AspNetCore.SpaServices.Extensions
nuget Npgsql
nuget Thoth.Fetch
nuget Thoth.Json