$background-color: white;

$border: thin solid gainsboro;

$button-text-color: black;
$button-background: #fafaff;
$button-border: $border;
$button-disabled-color: #fcfdff;
$button-hover-color: #EAF0FF;

$nav-link-color: #1a5670;
$nav-link-hover-color: #89b3c0;

$post__header-color: rgb(250, 250, 255);
$post-hover-color: rgb(250, 251, 255);
