$background-color: linear-gradient(white, #fafaff);
$button-text-color: black;
$button-background: #fafaff;
$button-border: 1px solid gainsboro;
$button-disabled-color: #fcfdff;
$button-hover-color: #EAF0FF;
