.post {
    border: $border;
    display: inline-block;
    font-size: 13px;
    margin-bottom: 5px;
    width: fit-content;
    min-width: 350px;
}

    .post:hover {
        background-color: $post-hover-color;
        cursor: auto;
    }

.post__header {
    background-color: $post__header-color;
    border-bottom: $border;
    margin-bottom: 7.5px;
    padding: 5px;
}

.post__id {
    cursor: pointer;
}

.post__id--right {
    cursor: pointer;
    float: right;
}

.post__body {
    margin-bottom: 8px;
    padding: 7.5px;
    padding-right: 12px;
}
